/* 
    Document   : position
    Created on : Oct 18, 2012, 9:58:27 PM
    Author     : RasXeN
    Description:
        Purpose of the stylesheet follows.
*/

.makkahphase-1{
    top: -325px;
    left: 1200px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.hijrah-1{
    top: -300px;
    left: 2400px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.madinahphase-1{
    top: -850px;
    left: 3600px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.abubakar-1{
    top: -750px;
    left: 4800px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.umarbinkhattab-1{
    top: -750px;
    left: 6100px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.utsmanbinaffan-1{
    top: -750px;
    left: 7200px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.alibinabithalib-1{
    top: -750px;
    left: 8400px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.baniumayyah-1{
    top: -600px;
    left: 9650px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.baniabbasiyah-1{
    top: -600px;
    left: 10800px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.kekosongan-1{
    top: 0px;
    left: 12050px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.banimamalik-1{
    top: -300px;
    left: 13250px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.baniutsmaniyah-1{
    top: -650px;
    left: 14450px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
.sekarang-1{
    top: -450px;
    left: 15600px;
    width: 800px;
    text-align: center;
    font-size: 30px;
}
