/* 
    Document   : style
    Created on : Oct 18, 2012, 6:47:24 AM
    Author     : RasXeN
    Description:
        Purpose of the stylesheet follows.
*/

/* === CSS RESET === */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, #nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, #nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* === End of CSS RESET === */

body {
    color: white;
    font-size: 20px;
    font-family: "Prociono", serif;
    text-shadow: 
        1px 1px 0 transparent,
        2px 2px 0 #101010;
    overflow: hidden;
    background : url(../image/texture_1_insan_stock.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-size: 75px;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 
        2px 2px 0 transparent,
        4px 4px 0 #101010;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 
        2px 2px 0 transparent,
        4px 4px 0 #101010;
}
h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5em;
    text-shadow: 
        2px 2px 0 transparent,
        4px 4px 0 #101010;
}
h6 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
}

a, a:visited {
    color: white;
    text-decoration: none;
    border-bottom: 2px dotted;
    transition: color 0.2s;
}

a:hover {
    color: #AAA;
}

a:active {
    color: lightblue;
}

.big {
    display: block;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 10px;
    text-shadow: 
        2px 2px 0 transparent,
        4px 4px 0 #101010;
}

.wrapper div {
    position: absolute;
}

.share, .settings {
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    background: rgba(10,10,10, 0.5);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.share {
    right: 0;
    padding: 10px 20px;
    border-radius: 10px 0 0 0;
}

.share a {
    border: none;
}

.settings {
    left: 0;
    padding: 10px 20px;
    border-radius: 0 10px 0 0;
}

.settings a {
    border: none;
}

.about {
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background: rgba(10,10,10, 0.5);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 0 0 0 10px;
}

#nav {
    position: fixed;
    z-index: 9999999;
    top: 0;
    background: rgba(10,10,10, 0.5);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    width: 280px;
    overflow: auto;
}

#nav {
    left: 0;
    border-radius: 0 0 10px 0;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: none;
    text-align: center;
    transition: 0.25s;
}

#nav li:last-child a {
    border-radius: 0 0 10px 0;
}

#nav a:hover {
    background: rgba(15,15,15, 0.5);
}

#nav, .nav, #nav .nav li { margin:0px; padding:0px; }
#nav li {float:left; display:inline; cursor:pointer; list-style:none; position:relative;}
#nav li ul.first {left:-1px; top:100%;}
li, li a {text-decoration:none;}
#nav .nav li { width:100%; line-height:30px; margin-right:10px;}
ul.nav { display:none; }
#nav li:hover > a, #nav li:hover {}
li:hover > .nav { display:block; position:absolute; display: block;
                  width: 40px;
                  height: 40px;
                  line-height: 40px;
                  border: none;
                  text-align: center;
                  transition: 0.25s; top:-2px; left:50%; z-index:1000; background: rgba(15,15,15, 0.5);}
li:hover { position:relative; z-index:2000; }

.sp-canvas {
    display: none;
}

.arrow {
    position: relative;
    display: inline-block;
}

.ctitle{
    width: 800px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.ctitle .arrow {
    font-size: 20px;
    animation: point-right 0.5s alternate infinite;
}

.scrollbar {
    top: 1540px;
    left: 1600px;
    width: 400px;
}

.rotations {
    left: 2185px;
    top: 660px;
    width: 460px;
    transform: rotate(-90deg) translateY(2.5em);
}

.rotations .upside-down {
    font-size: 42px;
    text-align: right;
    transform: rotate(180deg) translateY(3em);
}

.highlight {
    animation: highlight 0.2s alternate 6 ;
}

@keyframes point-right {
    from {
    right : 0px;
}
to {
    right : 5px;
}
}

@keyframes highlight {
    to {
    background: lightblue;
}
}

.arrow {
	position: relative;
	display: inline-block;
}

.demo { 
	width: 800px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}

.demo .arrow {
	font-size: 20px;
	animation: point-down 0.5s alternate infinite;
}

.description {
	top: 740px;
	left: 180px;
	width: 440px;
}

.syntax {
	top: 1510px;
	left: 430px;
	width: 400px;
}
